<h1>Подтверждение адреса электронной почты - PyMessages</h1>
<p>Добро пожаловать в PyMessages</p>
<p>Для завершения процесса регистарции, нажмите <a href="{{ verify_url }}">сюда</a>, чтобы подтвердить Ваш электронный адрес</p>
<p>Если вы не регистрировались на PyMessages, пожалуйста, проигнорируйте это сообщение</p>
<p>PyMessages</p>
